/* 
    Created on : 11 ene 2024, 2:55:06
    Author     : jeiny
*/
* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #a2a2a2;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 100vh;
}

input, button, textarea {
  border: 2px solid rgba(0, 0, 0, 0.6);
  background-image: none;
  background-color: #dadad3;
  box-shadow: none;
  padding: 5px;
}
input:focus, button:focus, textarea:focus {
  outline: none;
}

textarea {
  min-height: 50px;
  resize: vertical;
}

button {
  cursor: pointer;
  font-weight: 500;
}
td{
  padding: 10px;
  border: 2px black;
  align-content: center;
}
table{
    display: none; 
    border: 1px solid black;
}
.feedback-card {
  border: 1px solid black;
  max-width: 980px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);
}
.feedback-header {
  text-align: center;
  padding: 8px;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid black;
}
.feedback-body {
  padding: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.feedback-body__message {
  margin-top: 10px;
}
.feedback-body_button {
  margin-top: 10px;
  align-self: flex-end;
}

